<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8"> -->
    <title>Search Results Page</title>
</head>
<body>
<div class="show-user">
    <h1>Database </h1>
    <table class="table table-striped">
        <th> VIN </th>
        <th> Make </th>
        <th> Model </th>
        <th> Year </th>
        <th> Price </th>
        <th> MPG </th>

        <tr th:each="user: ${cd}">
            <td th:text="${user.firstName}"></td>
        </tr>

    </table>
</div>





<script  src="js/index.js"></script>
</body>
</html>