<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="UTF-8"> -->
<title>Search Results Page</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
</head>

<script src="https://www.w3schools.com/lib/w3.js"></script>
<style>
i {
	border: solid black;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 1px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
</style>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
	<img src="image/featurporch.jpg"/>
</div>

<div class="collapse navbar-collapse" id="navbarmidle">
	<div class="searchtxt">
		<h1>SEARCH BY CAR</h1>
	</div>
	<form class="navbar-form navbar-left searchformmargin" action = "/homepage/searchresults" role="search">
		<div class="form-group">
			<input type="text" class="form-control searchform" name="vin" placeholder = "VIN"/>
			<input type="text" class="form-control searchform" name="make" placeholder = "Make"/>
			<input type="text" class="form-control searchform" name="model" placeholder = "Model"/>
			<input type="text" class="form-control searchform" name="year" placeholder = "Year"/>
			<input type="text" class="form-control searchform" name="price" placeholder = "Price"/>
			<input type="text" class="form-control searchform" name="color" placeholder = "Color"/>
			<input type="text" class="form-control searchform" name="mpg" placeholder = "MPG"/>
			<button class="searchbutton">ENTER</button>
			<br/>
		</div>
	</form>

	<form class="navbar-form navbar-left searchformmargin" action = "/homepage/listall" role="search">
		<button class="searchbutton">List All</button>
	</form>




</div>

<body>
	<div class="show-user">
		<h1>Vehicle Search Results</h1>
		<table class="table table-striped" id="myTable">
			<tr>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')"
					style="cursor: pointer">VIN <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')"
					style="cursor: pointer">Make <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')"
					style="cursor: pointer">Model <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')"
					style="cursor: pointer">Year <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')"
					style="cursor: pointer">Price <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')"
					style="cursor: pointer">MPG <i class="arrow down" /></th>
				<th class="w3-dark-grey w3-hover-black"
					onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(7)')"
					style="cursor: pointer">Color <i class="arrow down" /></th>

			</tr>

			<tr class="item" th:each="vehicle: ${vehicles}">
				<td th:text="${vehicle.vin}"></td>

				<td th:text="${vehicle.make}"></td>
				<td th:text="${vehicle.model}"></td>
				<td th:text="${vehicle.year}"></td>
				<td th:text="${vehicle.price}"></td>
				<td th:text="${vehicle.mpg}"></td>
				<td th:text="${vehicle.color}"></td>
			</tr>

		</table>

	</div>

	<script src="js/index.js"></script>


</body>
</html>