<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
  
  <title>Employee Profile Form</title>
  
 
  <link rel="stylesheet" type="text/css" href="css/entry.css"/>


</head>

<body>
  <div class="css">
	<h1>Profile</h1>
    <form th:action="@{/employeeProfile/update}" >
    	<input th:value="${emp.firstName}" type="text" name="firstName" placeholder="First Name" required="required" />
    	<input th:value="${emp.lastName}" type="text" name="lastName" placeholder="Last Name" required="required" />
    	<input th:value="${emp.email}" type="text" name="email" placeholder="Email" required="required" />
        <input th:value="${emp.password}" type="password" name="password" placeholder="Password" required="required" />
        <input th:value="${empPass.passCode}" type="text" name="passCode" placeholder="PassCode"  />
        <button type="submit" class="btn btn-primary btn-block btn-large">Update Profile</button>
    
    </form>
</div>
  
    <script  src="js/index.js"></script>

</body>
</html>