<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to CarDrive!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
</head>

<h1>TEST</h1>



<form name="usersearch" action="/homepage/searchresults" method="#">

    <input type="text" name="vin" placeholder = "VIN"/>
    <br/>

    <input type="text" name="make" placeholder = "Make"/>
    <br/>

    <input type="text" name="model" placeholder = "Model"/>
    <br/>

    <input type="text" name="year" placeholder = "Year"/>
    <br/>

    <input type="text" name="price" placeholder = "Price"/>
    <br/>

    <input type="text" name="color" placeholder = "Color"/>
    <br/>

    <input type="text" name="mpg" placeholder = "MPG"/>
    <br/>

    <button> Enter </button>

</form>




<body>

</body>
</html>