<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8"> -->
    <title>User Index</title>
</head>
<body>
<div class="show-user">

    <h1>User List</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>

</div>

<script  src="js/index.js"></script>

</body>
</html>