<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8"> -->
    <title>Add a Vehicle</title>
    <link rel="stylesheet" type="text/css" href="css/entry.css"/>

</head>
<body>
<div class="css">
    <h1>Add Vehicle</h1>
    <a href="/carEntry" class="btn btn-primary btn-block btn-large">
        Car</a>
    <a href="/truckEntry" class="btn btn-primary btn-block btn-large">
        Truck</a>
    <a href="/motorcycleEntry" class="btn btn-primary btn-block btn-large">
        Motorcycle</a>
    <a href="/evEntry" class="btn btn-primary btn-block btn-large">
        Electric Vehicle</a>

</div>
</body>
</html>